<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cover"
        android:label="KenJob"
        android:roundIcon="@drawable/cover"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:targetApi="31">
        <activity
            android:name=".JobForm"
            android:exported="false" />
        <activity
            android:name=".FetchingActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="true" />
        <activity
            android:name=".JobListingActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".jobs_categoryby"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity_insertion"
            android:exported="true" />
        <activity
            android:name=".job_category"
            android:exported="true" />
        <activity
            android:name=".edit_jobs"
            android:exported="true" />
        <activity
            android:name=".post_jobs"
            android:exported="true" />
        <activity
            android:name=".company_dash"
            android:exported="true" />
        <activity
            android:name=".job_add"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".card_view"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>